<h1><%= @category.title %></h1>

<ul>
<% @category.items.each do |item| %>

    <%= link_to item.title, item_path(item) %>
      <%#binding.pry%>
    $<%= to_currency(item.price)%>
    <%= form_tag "/line_items/#{item.id}" do %>
        <%= submit_tag "Add to Cart" %>
      <% end %>
<% end %>
</ul>
